body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  background-color: #ffffff;
  color: #0B3067;
}

.navbar {
  background-color: #0c1b33d8;
}

.btn-login {
  min-height: 40px;
  background-color: #105c36;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #136b3f;
  color: #ffffff;
}

.carousel-item {
  background-color: rgba(0, 0, 0, 0.562);
}

.carousel-caption {
  height: 45vh;
}

.carousel-caption h1,
.carousel-caption p {
  color: #ffffff;
}

.carousel-caption h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.carousel-caption p {
  font-size: 22px;
}

.carousel-caption .btn-get-started {
  background-color: #ff4800;
  color: #ffffff;
}

.carousel-caption .btn-get-started:hover {
  background-color: #ff5f1f;
  color: #ffffff;
}

.section-statics-bg {
  position: relative;
  margin-top: 50px;
  padding-bottom: 80px;
}

.section-statics-bg .counter {
  background-color: #ffece1;
  padding: 20px 0;
  border-radius: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-statics-bg .count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #071C4D;
}

.section-statics-bg .count-text {
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #071C4D;
}

.section-statics-bg .fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #071C4D;
}

.section-popular {
  min-height: 500px;
  background-color: #071129;
  margin-top: -50px;
  margin-bottom: -230px;
}

.section-popular .section-popular-heading {
  margin-top: 100px;
}

.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #ffffff;
}

.section-popular .section-popular-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  height: 380px;
  background-color: #ffffff;
  color: #0B3067;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-popular-content .section-popular-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-location {
  font-size: 22px;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details {
  background-color: #ff4800;
  color: #ffffff;
}

.section-popular-content .section-popular-travel .travel-button .btn-travel-details:hover {
  background-color: #ff5f1f;
  color: #ffffff;
}

.section-partners {
  background-color: #ffffff;
  margin-top: -170px;
  padding-top: 273px;
  padding-bottom: 50px;
}

.section-partners .row {
  -webkit-box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
          box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  text-decoration: none;
}

.section-partners .row:hover {
  -webkit-transform: translateY(-5px) scale(1.005) translateZ(0);
          transform: translateY(-5px) scale(1.005) translateZ(0);
  -webkit-box-shadow: 0 18px 30px rgba(0, 0, 0, 0.11), 0 20px 44px var(--box-shadow-color);
          box-shadow: 0 18px 30px rgba(0, 0, 0, 0.11), 0 20px 44px var(--box-shadow-color);
}

.section-partners h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.section-partners p {
  font-size: 18px;
}

.section-partners img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fffcfb), to(#ffece1));
  background: linear-gradient(#fffcfb 0%, #ffece1 100%);
  padding-top: 50px;
  min-height: 520px;
}

.section-testimonial-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-two {
  margin-top: -320px;
  padding-bottom: 50px;
}

.section-testimonial-two .user-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto 20px;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-top: 3px solid #ff4800;
  border-bottom: 3px solid #ff4800;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-testimonial-two .card-box:hover .user-pic {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-testimonial-two .card-box {
  padding: 15px;
  background-color: #fdfdfd;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0px 0px 8px 0px #d4d4d4;
          box-shadow: 0px 0px 8px 0px #d4d4d4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-testimonial-two .card-box:hover {
  border: 1px solid #ff4800;
}

.section-testimonial-two .card-box p {
  color: #808080;
}

.section-testimonial-two h3 {
  font-size: 20px;
  padding-top: 20px;
  font-weight: 600;
  color: #120951;
}

.section-testimonial-two .content-testimonial {
  font-weight: 300;
  font-size: 18px;
  color: #6e6e6e;
  padding-top: 20px;
  min-height: 160px;
}

.section-testimonial-two .hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-two .trip-to {
  font-weight: normal;
  font-size: 20px;
  color: #6e6e6e;
}

.section-btn-get {
  padding-bottom: 40px;
}

.section-btn-get .btn-need-help {
  margin-top: 50px;
  min-height: 40px;
  background-color: #105c36;
  color: #ffffff;
}

.section-btn-get .btn-need-help:hover {
  background-color: #136b3f;
  color: #ffffff;
}

.section-btn-get .btn-get-started {
  min-height: 40px;
  background-color: #ff4800;
  color: #ffffff;
}

.section-btn-get .btn-get-started:hover {
  background-color: #ff5f1f;
  color: #ffffff;
}

.section-footer {
  background-color: #141b25;
  margin-top: 40px;
}

.section-footer h5 {
  font-weight: normal;
  color: #ffffff;
}

.section-footer a {
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.section-footer a:hover {
  color: #B1B1B1;
}

.footer-copyright {
  background-color: #10151d;
  color: #ffffff;
}

.section-details-header {
  min-height: 310px;
  background: #fff2eb;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item a {
  font-weight: normal;
  color: #071C4D;
  text-decoration: none;
}

.section-details-content .breadcrumb-item a:hover {
  color: #0e338a;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071C4D;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
}

.section-details-content .card-details h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}

.section-details-content .card-details p {
  font-size: 16px;
  color: #B1B1B1;
}

.section-details-content .card-details .features {
  margin-top: 20px;
}

.section-details-content .card-details h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}

.section-details-content .card-details p {
  margin-bottom: 10px;
}

.section-details-content .card-details .trip-informations th {
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #071C4D;
}

.section-details-content .card-details .trip-informations td {
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #B1B1B1;
}

.section-details-content .card-details .trip-informations h3 {
  font-weight: 500;
  font-size: 18px;
  color: #071c4d;
}

.section-details-content .card-details .trip-informations .text-blue {
  color: #071C4D;
  font-weight: bold;
}

.section-details-content .card-details .trip-informations .text-orange {
  color: #ff4800;
  font-weight: bold;
}

.section-details-content .card-details .payment-instructions {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-details-content .card-details .bank .bank-item h3 {
  font-weight: 600;
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item p {
  margin-bottom: 0;
}

.section-details-content .card-details .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
}

.section-details-content .card-details .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-details .disclaimer {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}

.section-details-content .card-details .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .btn-add-now {
  background-color: #105c36;
  color: #ffffff;
}

.section-details-content .card-details .btn-add-now:hover {
  background-color: #136b3f;
  color: #ffffff;
}

.section-details-content .card-details .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .features-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.section-details-content .gallery .xzoom-container {
  display: block;
}

.section-details-content .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-details-content .gallery .xzoom-container .xactive {
  border: 50px solid #1ABC9C;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .member .member-image {
  width: 40px;
  height: 40px;
}

.section-details-content .join-container {
  margin-top: -16px;
}

.section-details-content .btn-join-now {
  background-color: #ff4800;
  color: #ffffff;
  border-radius: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-details-content .btn-join-now:hover {
  background-color: #ff5f1f;
  color: #ffffff;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}

.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #B1B1B1;
}

.section-success .btn-home-page {
  border-radius: 4px;
  background-color: #071c4d;
  color: #ffffff;
}

.section-success .btn-home-page:hover {
  background-color: #0B286A;
  color: #ffffff;
}

@media (min-width: 992px) {
  .login-container {
    background: linear-gradient(100deg, #fffefe 61%, #fff2eb 39%);
    width: 100vw;
    height: 100vh;
  }
}

.page-login {
  height: 100vh;
}

.page-login .card {
  width: 440px;
  border-radius: 18px;
  -webkit-box-shadow: 0 20px 48px #c9aeae96;
          box-shadow: 0 20px 48px #c9aeae96;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}

.page-login .btn-login {
  border-radius: 50px;
  background-color: #ff4800;
  color: #ffffff;
}

.page-login .btn-login:hover {
  background-color: #ff5f1f;
  color: #ffffff;
}

.page-login .section-left h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  color: #071C4D;
}

.page-login .section-right a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  color: #c4c4c4;
}

.page-login .section-right p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  color: #464646;
}

.form-input {
  border-radius: 50px;
}

.form-check-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #464646;
}

.form-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #464646;
}

.nav-user-name {
  color: #9c9c9c;
}

.nav-user-name:hover {
  color: #ffffff;
}

.dropdown-toggle-id {
  color: #ffffff;
}

.modal-header-id {
  color: #0B3067;
}
/*# sourceMappingURL=main.css.map */